    
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
        <div class="container">

            <div class="row">

                <div class="col-md-4 col-sm-6 order-sm-1 order-md-1 pr-sm-5 footer-left">

                    <!-- Content -->
                    <h4><a href="/campgrounds" class="footer-brand">Nomadenlager</a></h4>
                    <hr class="footer-hr">
                    <p><em>“The world is a book and those who do not travel read only a page.” ~ Saint Augustine</em></p>
                </div>

                <div class="col-md-4 col-sm-12 order-3 order-sm-2 text-sm-center my-md-auto my-4 footer-middle">
                    <i class="fab fa-facebook-f mr-3"> </i>
                    <i class="fab fa-twitter mr-3"> </i>
                    <i class="fab fa-google-plus-g mr-3"> </i>
                    <i class="fab fa-linkedin-in mr-3"> </i>
                    <i class="fab fa-instagram"> </i>
                    
                    <div class="footer-copyright py-3">© 2018 Copyright: <a href="/campgrounds" class="footer-brand">Nomadenlager.com</a></div>
                </div>

                <div class="col-md-4 col-sm-6 order-sm-1 order-md-3 text-right my-4 my-sm-0 footer-right">
                    <h6 class="footer-contact">CONTACT</h6>
                    <div class="footer-info footer-right">
                        <p><i class="fas fa-phone mr-3"></i> +420 294 699 9</p>
                        <p><i class="fas fa-envelope mr-3"></i> bestcampground@gmail.com</p>
                        <p><i class="fas fa-home mr-3"></i> Prague-4, Pikovická 12/3, Czechia</p>
                    </div>
                </div>

            </div>
        </div>
        

    </footer>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>