    
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
        <div class="container">

            <div class="row">

                <div class="col-md-4 col-sm-6 order-sm-1 order-md-1 text-left pr-sm-5">

                    <!-- Content -->
                    <h4 class=>Nomadenlager</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><em>“The world is a book and those who do not travel read only a page.” ~ Saint Augustine</em></p>
                </div>

                <div class="col-md-4 col-sm-12 order-sm-2 order-md-2 text-sm-center text-left my-md-0 my-4">
                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram"> </i>
                    </a>
                    <div class="footer-copyright py-3">© 2018 Copyright: <a href="">Nomadenlager.com</a></div>
                </div>

                <div class="col-md-4 col-sm-6 order-sm-1 order-md-3 text-md-right text-sm-left">
                    
                    <div>
                    
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Contact</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <i class="fas fa-home mr-3"></i> Prague-4, Pikovická 12/3, Czechia</p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> bestcampground@gmail.com</p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> +420 294 699 9</p>
                        <p>
                            <i class="fas fa-print mr-3"></i> +420 61 512 612</p>
                    
                    </div>
                </div>

            </div>
        </div>
        

    </footer>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>