<% include ../partials/header.ejs %>



<div class="container">

    <h1 class="text-center">Edit comment for </h1>
    <div class="form-new-camp">

        <form class="my-3" action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <textarea class="form-control m-2" name="comment[text]" cols="30"
                rows="3"><%= comment.text %></textarea>

            <button class="m-2 btn btn-lg btn-block btn-primary" type="submit">Submit</button>
        </form>

        <a href="/campgrounds/<%= campground_id %>/">Go back</a>
    </div>

</div>




<% include ../partials/footer.ejs %>