<% include ../partials/header.ejs %>



<div class="custom-form">

    <h1 class="text-center">Add  New Comment to <em><q><%= campground.name %></q></em></h1>
    <div class="form-new-camp">

        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <textarea class="form-control" name="comment[text]" placeholder="Write a comment" cols="30" rows="3"></textarea>            
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
            </div>
        </form>

        <hr class="custom-form-hr"><br>
        <a href="/campgrounds/<%= campground._id %>/">Go back</a>
    </div>

</div>




<% include ../partials/footer.ejs %>