/* tags */
body {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-image: url("/wall2.jpg"); /* img different other css files */
    background-position: left;
    background-color: rgba(255,255,255,.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
}

/* navbar bootstrap */
.bg-dark {
    background-color: #5296d8!important;
    border-radius: 2rem;
    padding: 0.2rem 3rem;
    height: 3rem;
}

nav {
    margin: 1rem 2rem 8% !important;
}

.nav-link {
    color: rgba(255,255,255,.7) !important;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Lakki Reddy', cursive;
    margin: auto;    
}


/* INDEX route header + campgrounds */
.header-or {
    font-size: 2.5rem;
    letter-spacing: -9px;
    margin: auto 1.5rem;
    font-weight: 600;
    color: grey;
}

.jumbotron {
    margin-bottom: 2rem;
    background: #e6e9ea;
    border-radius: 32%;
    border: 1px solid #5296d8;
    border-bottom-left-radius: inherit;
    border-top-right-radius: inherit;
}

.header-container {
    margin: 1rem 1rem -1rem !important;
    color: #5296d8;
}

.header-container .btn, .header-container input {
    border: 1px solid #5296d8;
    color: #5296d8;
}

.jumbotron h1 {
    letter-spacing: .4rem;
}

.header-hr {
    margin: 1.5rem 0;
    width: 90%;
    background: #5296d8;
}

.header-bg {
    background-image: url("https://images.unsplash.com/photo-1531750985903-9018577a2472?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-repeat: no-repeat; /* doesnt repeat the image */
    background-size: cover;  /* adjust the image 1:1 */
    font-family: Arial;
    font-style: italic;
    font-size: 20px !important;
}

.campgrounds-container {
    background-color: #e6e9ea;
    padding: 10% 5% 15%;
}

.campgrounds-container p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}

/* INDEX + SHOW route */
.campground {
    width: 100%;
    padding: 3px;
    border: 0.5px solid rgb(204, 202, 202);
    text-align: center;
}

.campground img {
    height: 250px;
    width: 100%;
}

.campground .btn {
    opacity: 0.9;
}

/* SHOW route, campground container */
.background {
    background-color: #e6e9ea;
    padding: 10% 12% 15%;
}

.background li a, .background h1 {
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.campground-content {
    padding: .5rem;
}

.campground-price {
    margin-left: auto;
}

.campground-author {
    text-align: left;
}

.campground-text {
    text-align: left;
    margin-bottom: 2.5rem;
}

/* comments */
.comment {
    text-align: left;
}

.comment .btn {
    display: inline-block;
    float: right;
}


/* others */
#map {
    height: 400px;
    width: 100%;
}

.smaller {
    font-size: 2.2rem;
}

/* media queries */ 
@media only screen and (max-width: 768px) {
    .navbar-brand {
        margin: unset;
        padding-top: 1rem;
    }
    .bg-dark {
        height: unset;
    }
    .header-container .btn {
        margin-right: 10rem;
    }
    .header-or {
        margin-right: 7.5rem;
    }
    .header-container .form-group {
        margin-right: 10rem;
    }
}