/* tags */
body {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-image: url("/wall.jpg");
    background-position: left;
    background-color: rgba(255,255,255,.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
}


/* navbar bootstrap */
.bg-dark {
    background-color: #5296d8!important;
    border-radius: 2rem;
    padding: 0.2rem 3rem;
    height: 3rem;
}

nav {
    margin: 1rem 2rem 8% !important;
}

.nav-link {
    color: rgba(255,255,255,.7) !important;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Lakki Reddy', cursive;
    margin: auto;    
}


/* authentication forms */
.custom-form-hr  {
    margin-bottom: 0;
    width: 20%;
    float: left;
    box-shadow: 0px 1px 0px 0px rgba(6,9,0,0.25);
}

.custom-form {
    margin: 10% auto 15% !important;
    width: 30%; 
    margin: 1.8rem auto;
}

.custom-form input[type=file] {
    /* border: none;
    background: none; */
}

.custom-form .btn {
    background: #2e94eb;
    border: 1px solid #2e94eb;
    opacity: .9;
}

.custom-form h1 {
    font-family: 'Lakki Reddy', cursive;
    text-align: center;
    color: #2e94eb;
}

.custom-form a {
    font-size: 1.3rem;
    color: #3576bd;
}


/* others */
.smaller {
    font-size: 2.2rem;
}

/* queries */
@media only screen and (max-width: 992px) {
    .custom-form {
        margin: 10% auto 20% !important;
        width: 50%; 
    }
}

@media only screen and (max-width: 768px) {
    .custom-form {
        margin: 20% auto 40% !important;
    }
    .navbar-brand {
        margin: unset;
    }
    .bg-dark {
        height: unset;
    }
}

@media only screen and (max-width: 576px) {
    .custom-form {
        width: 70%; 
    }
}