.camps-container img {
    height: 250px;
    width: 100%;
}
.camps-container {
    width: 100%;
    padding: 3px;
    border: 0.5px solid rgb(204, 202, 202);
    text-align: center;
}
.form-new-camp {
    width: 35%;
    margin: 0 auto;
}

.login-form {
    width: 30%; 
    margin: 25px auto;
}

#map {
    height: 400px;
    width: 100%;
}