<% include ../partials/header.ejs %>

<div class="row">
    <div class="col-md-12">

        <form action="/forgot" method="POST">
            <legend>Forgot Password</legend>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" autofocus class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reser Password">
            </div>
        </form>
        
    </div>
</div>


<% include ../partials/footer.ejs %>