<% include ../partials/header.ejs %>

<div class="row">
    <div class="login-form">

        <form action="/forgot" method="POST">
            <h1 class="smaller">Forgotten Password</h1>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" autofocus class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reser Password">
            </div>
        </form>
        
        <hr class="forgotten"><br>
        <a href="/campgrounds">Go Back</a>

    </div>
</div>


<% include ../partials/footer.ejs %>